= simple_form_for @bebida_por_comanda, url:  bebidas_por_comanda_path, method: :put do |f|
    = f.input :id, readonly: true, label: 'ID:'
    = f.input :id_comanda, readonly: true, label: 'Num de comanda:'
    = f.input :id_bebida, readonly: true, label: 'Num de bebida:'
    - if valid_cantidad?(@bebida_por_comanda.cantidad)
        = f.input :cantidad, readonly: true, label: 'Cantidad:'
    - else
        = f.input :cantidad, disabled: false, label: 'Cantidad:'
    = f.button :submit, class: 'btn btn-primary'
