= simple_form_for @bebida_por_comanda, url:  bebidas_por_comanda_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_comanda , label: 'Num de comanda:'
    = f.input :id_bebida , label: 'Num de bebida:'
    = f.input :cantidad , label: 'Cantidad:'
    = f.button :submit, class: 'btn btn-primary'
