= simple_form_for @cliente, url:  cliente_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :nombre , label: 'Nombre:'
    = f.input :correo , label: 'Correo:'
    = f.input :telefono , label: 'Telefono:'
    = f.button :submit, class: 'btn btn-primary'
