<h1>Clientes</h1>
%p= "Total: #{@clientes.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_clientes_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Estado'
      %td='Correo'
      %td='Telefono'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @clientes.each do |cliente|
      %tr
        %td=cliente.id
        -if valid_name?(cliente.nombre)
          %td=cliente.nombre
        -else
          %td.text.danger=cliente.nombre
        -if valid_estadoc?(cliente.estado)
          %td=cliente.estado
        -else
          %td.text.danger=cliente.estado
        -if valid_email?(cliente.correo)
          %td=cliente.correo
        -else
          %td.text.danger=cliente.correo
        -if valid_telefono?(cliente.telefono)
          %td=cliente.telefono
        -else
          %td.text.danger=cliente.telefono
        - unless current_user.admin?
          %td
            = link_to edit_cliente_path(cliente) do
              = fa_icon 'pencil'
            = link_to cliente_path(cliente), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
