= simple_form_for @bebida, url:  bebida_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :nombre , label: 'Nombre:'
    = f.input :precio , label: 'Precio:'
    = f.input :descripcion , label: 'Descripción:'
    = f.button :submit, class: 'btn btn-primary'
