<h1>Bebidas</h1>
%p= "Total: #{@bebidas.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Precio'
      %td='Descripcion'
      - unless current_user.admin?
        %td='Acciones'

  %tbody
    - @bebidas.each do |bebida|
      %tr
        %td=bebida.id
        -if valid_nombrecosas?(bebida.nombre)
          %td=bebida.nombre
        -else
          %td.text.danger=bebida.nombre
        -if valid_price?(bebida.precio)
          %td=bebida.precio
        -else
          %td.text.danger=bebida.precio
        %td=bebida.descripcion
        - unless current_user.admin?
          %td
            = link_to edit_bebida_path(bebida) do
              = fa_icon 'pencil'
            = link_to bebida_path(bebida), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
