= simple_form_for @asistencias, url:  asistencia_path, method: :put do |f|
    = f.input :id, readonly: true 
    = f.input :id_empleado, readonly: true
    - if valid_date?(@asistencias.fecha) 
        = f.input :fecha, readonly: true 
    - else 
        = f.input :fecha, disabled: false
    = f.input :hora_entrada, readonly: true 
    = f.input :hora_salida, readonly: true
    = f.button :submit, class: 'btn btn-primary'