= simple_form_for @mantenimientoe, url: mantenimiento_path, method: :put do |f|
 = f.input :id, readonly: true , label: 'ID:'
 - if valid_tipomantenimietno(@mantenimientoe.tipo)
  = f.input :tipo, readonly: true , label: 'Tipo:'
 - else
  = f.input :tipo, disabled: false , label: 'Tipo:'
 = f.submit 'Actualizar',  class: 'btn btn-primary'
