= simple_form_for @material, url: materiale_path, method: :put do |f|
    = f.input :id
    = f.input :id_sistema
    = f.input :nombre
    = f.input :stock_min
    = f.input :stock_max
    = f.input :cantidad_stock
    = f.button :submit, class: 'btn btn-primary'
