= simple_form_for @material, url: materiale_path, method: :put do |f|
    = f.input :id, readonly: true, label: 'ID:'
    = f.input :id_sistema, readonly: true, label: 'Num de sistema:'
    - if valid_alpha?(@material.nombre)
        = f.input :nombre, readonly: true, label: 'Nombre:'
    - else
        = f.input :nombre, disabled: false, label: 'Nombre:'
    - if valid_number?(@material.stock_min)
        = f.input :stock_min, readonly: true, label: 'Stock minimo:'
    - else
        = f.input :stock_min, disabled: false, label: 'Stock minimo:'
    - if valid_number?(@material.stock_max)
        = f.input :stock_max, readonly: true, label: 'Stock maximo:'
    - else
        = f.input :stock_max, disabled: false, label: 'Stock maximo:'
    - if valid_number?(@material.cantidad_stock)
        = f.input :cantidad_stock, readonly: true, label: 'Cantidad stock:'
    - else
        = f.input :cantidad_stock, disabled: false, label: 'Cantidad stock:'
    = f.submit 'Actualizar', class: 'button'
