= simple_form_for @material, url: materiale_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_sistema , label: 'Num de sistema:'
    = f.input :nombre , label: 'Nombre:'
    = f.input :stock_min , label: 'Stock minimo:'
    = f.input :stock_max , label: 'Stock maximo:'
    = f.input :cantidad_stock , label: 'Cantidad stock:'
    = f.button :submit, class: 'btn btn-primary'
