<h1>Materiales</h1>
%p= "Total: #{@materiales.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num sistema'
      %td='Sistema'
      %td='Nombre'
      %td='Stock minimo'
      %td='Stock maximo'
      %td='Cantidad en stock'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @materiales.each do |material|
      %tr
        %td=material.id
        %td=material.id_sistema
        %td=material.sistema
        -if valid_words?(material.nombre)
          %td=material.nombre
        -else
          %td.text.danger=material.nombre
        -if valid_cantidad?(material.stock_min)
          %td=material.stock_min
        -else
          %td.text.danger=material.stock_min
        - if valid_cantidad?(material.stock_max)
          %td=material.stock_max
        -else
          %td.text.danger=material.stock_max
        -if valid_cantidad?(material.cantidad_stock)
          %td=material.cantidad_stock
        -else
          %td.text.danger=material.cantidad_stock
        - unless current_user.admin?
          %td
            = link_to edit_materiale_path(material) do
              = fa_icon 'pencil'
            = link_to materiale_path(material), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'

