= simple_form_for @recibo_compra, url:  recibos_de_compra_path, method: :put do |f|
    = f.input :id, readonly: true 
    = f.input :id_sistema, readonly: true 
    = f.input :sistema, readonly: true 
    = f.input :id_pedido_compra, readonly: true 
    - if valid_date?(@recibo_compra.f_entrega)
        = f.input :f_entrega, readonly: true 
    - else 
        = f.input :f_entrega, disabled: false
    = f.button :submit, class: 'btn btn-primary'
