= simple_form_for @recibo_compra, url:  recibos_de_compra_path, method: :put do |f|
    = f.input :id
    = f.input :id_sistema
    = f.input :sistema
    = f.input :id_pedido_compra
    = f.input :f_entrega
    = f.button :submit, class: 'btn btn-primary'
