<h1>Recibos de compras</h1>
%p= "Total: #{@recibos.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_recibos_de_compras_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Num de sistema'
      %td='Sistema'
      %td='Num pedido de compra'
      %td='Fecha entrega'
      %td='Acciones'
  %tbody
    - @recibos.each do |recibo|
      %tr
        %td=recibo.id
        %td=recibo.id_sistema
        %td=recibo.sistema
        %td=recibo.id_pedido_compra
        -if valid_date?(recibo.f_entrega)
          %td=recibo.f_entrega
        -else
          %td.text.danger=recibo.f_entrega
        %td
          = link_to edit_recibos_de_compra_path(recibo) do
            = fa_icon 'pencil'
          = link_to recibos_de_compra_path(recibo.id), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
