= simple_form_for @servicio, url: servicio_path, method: :put do |f|
 = f.input :id, readonly: true
 - if valid_nombre_servicio?(@servicio.nombre)
  = f.input :nombre, readonly: true 
 - else 
  = f.input :nombre, disables: false
 = f.button :submit, class: 'btn btn-primary'
