%h1
  Servicios
%p= "Total: #{@servicio.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_servicios_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @servicio.each do |s|
      %tr
        %td=s.id
        - if valid_nombrecosas?(s.nombre)
          %td=s.nombre
        - else
          %td.text.danger=s.nombre
        - unless current_user.admin?
          %td
            = link_to edit_servicio_path(s) do
              = fa_icon 'pencil'
            = link_to servicio_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
