%h1
  Servicios
%p= "Total: #{@servicio.count} regitros"
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Acciones'
  %tbody
    - @servicio.each do |s|
      %tr
        %td=s.id
        - if valid_nombrecosas?(s.nombre)
          %td=s.nombre
        - else
          %td.text.danger=s.nombre
        %td
          = link_to edit_servicio_path(s) do
            = fa_icon 'pencil'
          = link_to servicio_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
