<h1>Areas por empleado</h1>
%p= "Total: #{@areas_por_empleado.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de empleado'
      %td='Num de area'
      %td='Fecha Asignación'
      %td='Acciones'

  %tbody
    - @areas_por_empleado.each do |area|
      %tr
        %td=area.id
        %td=area.id_empleado
        %td=area.id_area
        - if valid_date?(area.f_asignacion)
          %td=area.f_asignacion
        -else
        %td.text.danger=area.f_asignacion
        %td
          = link_to  edit_areas_por_empleado_path(area) do
            = fa_icon 'pencil'
          = link_to areas_por_empleado_path(area), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'



