= simple_form_for @materialgh, url: materialgastado_habitacione_path, method: :put do |f|
    = f.input :id
    = f.input :cantidad
    = f.input :id_material_por_recibo
    = f.input :id_servicio_limpieza
    = f.button :submit, class: 'btn btn-primary'
