= simple_form_for @materialgh, url: materialgastado_habitacione_path, method: :put do |f|
    = f.input :id
    = f.input :idMaterialH
    = f.input :Cantidad
    = f.input :idMaterial
    = f.input :idServicioLH
    = f.button :submit, class: 'btn btn-primary'