= simple_form_for @mantenimientoh, url: dmantenimiento_habitacione_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :idDetalle , label: 'Num de detalle:'
    = f.input :Descripcion , label: 'Descripción:'
    = f.input :FechaInicio , label: 'Fecha de inicio:'
    = f.input :FechaTermino , label: 'Fecha de termino:'
    = f.input :idHabitacion , label: 'Num de habitación:'
    = f.input :idMantenimientoH , label: 'Num de mantenimiento:'
    = f.input :idEmpleado , label: 'Num de empleado:'
    = f.button :submit, class: 'btn btn-primary'