<h1>Detalle mantenimiento de habitaciones</h1>
%p= "Total: #{@mantenimientoh.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Descripcion'
      %td='Fecha de inicio'
      %td='Fecha de termino'
      %td='Num de habitacion'
      %td='Num de mantenimiento por habitacion'
      %td='Num de Empleado'
      %td='Acciones'

  %tbody
    - @mantenimientoh.each do |ma|
      %tr
        %td=ma.id
        %td=ma.Descripcion
        -if valid_date?(ma.FechaInicio)
          %td=ma.FechaInicio
        -else
          %td.text.danger=ma.FechaInicio
        -if valid_date?(ma.FechaTermino)
          %td=ma.FechaTermino
        -else
          %td.text.danger=ma.FechaTermino
        %td=ma.idHabitacion
        %td=ma.idMantenimientoH
        %td=ma.idEmpleado
        %td
          = link_to edit_dmantenimiento_habitacione_path(ma) do
            = fa_icon 'pencil'
          = link_to dmantenimiento_habitacione_path(ma), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
