<h1>Ingredientes</h1>
%p= "Total: #{@ingredientes.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Stock minimo'
      %td='Stock maixmo'
      %td='Cantidad'
      %td='Num tipo'
      %td='Num tipo cantidad'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @ingredientes.each do |ingrediente|
      %tr
        %td=ingrediente.id
        - if valid_nombrecosas?(ingrediente.nombre)
          %td=ingrediente.nombre
        -else
          %td.text.danger=ingrediente.nombre
        -if valid_cantidad?(ingrediente.stock_minimo)
          %td=ingrediente.stock_minimo
        -else
          %td.text.danger=ingrediente.stock_minimo
        -if valid_cantidad?(ingrediente.stock_maximo)
          %td=ingrediente.stock_maximo
        -else
          %td.text.danger=ingrediente.stock_maximo
        -if valid_cantidad?(ingrediente.cantidad_stock)
          %td=ingrediente.cantidad_stock
        -else
          %td.text.danger=ingrediente.cantidad_stock
        %td=ingrediente.id_tipo
        %td=ingrediente.id_tipo_cantidad
        - unless current_user.admin?
          %td
            = link_to edit_ingrediente_path(ingrediente) do
              = fa_icon 'pencil'
            = link_to ingrediente_path(ingrediente), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
