= simple_form_for @mesa, url: mesa_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :numero , label: 'Numero:'
    = f.input :capacidad , label: 'Capacidad:'
    = f.button :submit, class: 'btn btn-primary'
