= simple_form_for @detalle_de_factura_hotel, url:  detalles_de_factura_hotel_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_factura , label: 'Num de factura:'
    = f.input :cantidad , label: 'Cantidad:'
    = f.input :id_servicio_hotel , label: 'Num servicio hotel :'
    = f.input :totalho , label: 'Total:'
    = f.button :submit, class: 'btn btn-primary'
