<h1>Detalle de factura hotel</h1>
%p= "Total: #{@detalles_de_factura_hotel.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Cantidad'
      %td='Total: '
      %td='Num de factura'
      %td='Num de servicio a hotel'
      %td='Acciones'

  %tbody
    - @detalles_de_factura_hotel.each do |detalle_factura|
      %tr
        %td=detalle_factura.id
        -if valid_cantidad?(detalle_factura.cantidad)
          %td=detalle_factura.cantidad
        -else
          %td.text.danger=detalle_factura.cantidad
        -if valid_price?(detalle_factura.total)
          %td=detalle_factura.total
        -else
          %td.text.danger=detalle_factura.total
        %td=detalle_factura.id_factura
        %td=detalle_factura.id_servicio_hotel
        %td
          = link_to edit_detalles_de_factura_hotel_path(detalle_factura) do
            = fa_icon 'pencil'
          = link_to detalles_de_factura_hotel_path(detalle_factura), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
