= simple_form_for @vacantes, url: vacante_path, method: :put do |f|
    = f.input :id, readonly: true,  label: 'ID:'
    - if valid_nombrecosas?(@vacantes.nombre)
        = f.input :nombre, readonly: true, label: 'Nombre:'
    - else
        = f.input :nombre, disabled: false, label: 'Nombre:'
    - if valid_estado?(@vacantes.estado)
        = f.input :estado, readonly: true, label: 'Estado:'
    - else
        = f.input :estado, disabled: false, label: 'Estado:'
    = f.submit 'Actualizar', class: 'button'
