= simple_form_for @vacantes, url: vacante_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :nombre , label: 'Nombre:'
    = f.input :estado , label: 'Estado:'
    = f.button :submit, class: 'btn btn-primary'