<h1>Vacantes</h1>
%p= "Total: #{@vacantes.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Estado'
      %td='Acciones'
  %tbody
    - @vacantes.each do |vacante|
      %tr
        %td=vacante.id
        -if valid_nombrecosas?(vacante.nombre)
          %td=vacante.nombre
        -else
          %td.text.danger=vacante.nombre
        -if valid_estado?(vacante.estado)
          %td=vacante.estado
        -else
          %td.text.danger=vacante.estado
        %td
          = link_to edit_vacante_path(vacante) do
            = fa_icon 'pencil'
          = link_to vacante_path(vacante), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'


