= simple_form_for @servicio_a_domicilio, url: servicios_a_domicilio_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_habitacion , label: 'Num de habitación:'
    = f.input :fecha , label: 'Fecha:'
    = f.button :submit, class: 'btn btn-primary'
