= simple_form_for @servicio_a_domicilio, url: servicios_a_domicilio_path, method: :put do |f|
    = f.input :id
    = f.input :id_habitacion
    = f.input :fecha
    = f.button :submit, class: 'btn btn-primary'
