= simple_form_for @pedido_empleado, url: pedidos_por_empleado_path, method: :put do |f|
    = f.input :id
    = f.input :id_sistema
    = f.input :sistema
    = f.input :f_peticion
    = f.input :id_empleado
    = f.button :submit, class: 'btn btn-primary'
