= simple_form_for @pedido_empleado, url: pedidos_por_empleado_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_sistema , label: 'Num de sistema:'
    = f.input :sistema , label: 'Sistema:'
    = f.input :f_peticion , label: 'Fecha de petición:'
    = f.input :id_empleado , label: 'Num de empleado:'
    = f.button :submit, class: 'btn btn-primary'
