= simple_form_for @proveedor, url:  proveedore_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_sistema , label: 'Num de sistema:'
    = f.input :sistema , label: 'Sistema:'
    = f.input :id_empresa , label: 'Num de empresa:'
    = f.input :nombre , label: 'Nombre:'
    = f.button :submit, class: 'btn btn-primary'
