= simple_form_for @paquete, url: paquete_path, method: :put do |f|
    = f.input :id
    = f.input :nombre
    = f.input :descripcion
    = f.input :precio_por_dia
    = f.button :submit, class: 'btn btn-primary'
