= simple_form_for @paquete, url: paquete_path, method: :put do |f|
 = f.input :id, readonly: true, label: 'ID:'
 - if valid_nombrecosas?(@paquete.nombre)
  = f.input :nombre, readonly: true, label: 'Nombre:'
 - else
  = f.input :nombre, disabled: false, label: 'Nombre:'
 = f.input :descripcion, readonly: true , label: 'Descripción:'
 - if valid_price?(@paquete.precio_por_dia)
  = f.input :precio_por_dia, readonly: true , label: 'Precio:'
 - else
  = f.input :precio_por_dia, disabled: false , label: 'Precio:'
 = f.submit 'Actualizar', class: 'button'
