<h1>Paquetes</h1>
%p= "Total: #{@paquete.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_paquetes_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Descripción'
      %td='Precio por dia'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @paquete.each do |pa|
      %tr
        %td=pa.id
        - if valid_nombrecosas?(pa.nombre)
          %td=pa.nombre
        - else
          %td.text.danger=pa.nombre
        %td=pa.descripcion
        - if valid_price?(pa.precio_por_dia)
          %td=pa.precio_por_dia
        - else
          %td.text.danger=pa.precio_por_dia
        - unless current_user.admin?
          %td
            = link_to edit_paquete_path(pa) do
              = fa_icon 'pencil'
            = link_to paquete_path(pa), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
