= simple_form_for @reservacion_en_restaurante, url:  reservaciones_en_restaurante_path, method: :put do |f|
    = f.input :id
    = f.input :f_reservacion
    = f.input :hora
    = f.input :id_cliente
    = f.input :id_empleado
    = f.button :submit, class: 'btn btn-primary'
