= simple_form_for @reservacion_en_restaurante, url:  reservaciones_en_restaurante_path, method: :put do |f|
    = f.input :id, readonly: true 
    - if valid_date?(@reservacion_en_restaurante.f_reservacion)
        = f.input :f_reservacion, readonly: true 
    - else 
        = f.input :f_reservacion, disabled: false
    = f.input :hora, readonly: true
    = f.input :id_cliente, readonly: true
    = f.input :id_empleado, readonly: true
    = f.button :submit, class: 'btn btn-primary'
