<h1>Reservaciones en restaurante</h1>
%p= "Total: #{@reservaciones_en_restaurante.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', new_deletter_path(model: 'ReservacionEnRestaurante'), class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Fecha de reservación'
      %td='Hora'
      %td='Num de cliente'
      %td='Num de empleado'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @reservaciones_en_restaurante.each do |reservacion_restaurante|
      %tr
        %td=reservacion_restaurante.id
        -if valid_date?(reservacion_restaurante.f_reservacion)
          %td=reservacion_restaurante.f_reservacion
        -else
          %td.text.danger=reservacion_restaurante.f_reservacion
        %td=reservacion_restaurante.hora
        %td=reservacion_restaurante.id_cliente
        %td=reservacion_restaurante.id_empleado
        - unless current_user.admin?
          %td
            = link_to edit_reservaciones_en_restaurante_path(reservacion_restaurante) do
              = fa_icon 'pencil'
            = link_to reservaciones_en_restaurante_path(reservacion_restaurante), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
