= simple_form_for @solicitud_mantenimiento, url: solicitudes_de_mantenimiento_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_empleado , label: 'Num de empleado:'
    = f.input :id_equipo_por_recibo , label: 'Num equipo por recibo:'
    = f.input :f_solicitud , label: 'Fecha de solicitud:'
    = f.input :f_recibo , label: 'Fecha de recibo:'
    = f.input :estado , label: 'Estado:'
    = f.input :motivo , label: 'Motivo:'
    = f.input :tipo , label: 'Tipo:'
    = f.submit 'Actualizar', class: 'button'
