= simple_form_for @solicitud_mantenimiento, url: solicitudes_de_mantenimiento_path, method: :put do |f|
    = f.input :id
    = f.input :id_empleado
    = f.input :id_equipo_por_recibo
    = f.input :f_solicitud
    = f.input :f_recibo
    = f.input :estado
    = f.input :motivo
    = f.input :tipo
    = f.button :submit, class: 'btn btn-primary'
