<h1>Servicios de limpieza</h1>
%p= "Total: #{@serviciol.count} regitros"
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Acciones'
  %tbody
    - @serviciol.each do |s|
      %tr
        %td=s.id
        - if valid_name? (s.nombre)
          %td=s.nombre
        - else
          %td.text.danger=s.nombre
        %td
          = link_to edit_servicio_limpieza_path(s) do
            = fa_icon 'pencil'
          = link_to servicio_limpieza_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
