<h1>Tipo de habitaciones</h1>
%p= "Total: #{@dhabitaciones.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_tipo_habitaciones_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Precio'
      %td='Acciones'
  %tbody
    - @dhabitaciones.each do |ha|
      %tr
        %td=ha.id
        - if valid_nombrecosas?(ha.nombre)
          %td=ha.nombre
        - else
          %td.text.danger=ha.nombre
        - if valid_price?(ha.precio)
          %td=ha.precio
        - else
          %td.text.danger=ha.precio
        %td
          = link_to edit_dhabitacione_path(ha) do
            = fa_icon 'pencil'
          = link_to dhabitacione_path(ha), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
