= simple_form_for @comanda, url:  comanda_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_reservacion , label: 'Num de reservación:'
    = f.input :id_empleado , label: 'Num de empleado:'
    = f.input :fecha , label: 'Fecha:'
    = f.input :hora_reservacion , label: 'Hora de reservación:'
    = f.button :submit, class: 'btn btn-primary'
