<h1>Comandas</h1>
%p= "Total: #{@comandas.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de reservación'
      %td='Num de empleado'
      %td='Fecha'
      %td='Hora de reservación'
      %td='Acciones'

  %tbody
    - @comandas.each do |comanda|
      %tr
        %td=comanda.id
        %td=comanda.id_reservacion
        %td=comanda.id_empleado
        - if valid_date?(comanda.fecha)
          %td=comanda.fecha
        -else
          %td.text.danger=comanda.fecha
        %td=comanda.hora_reservacion
        %td
          = link_to edit_comanda_path(comanda) do
            = fa_icon 'pencil'
          = link_to comanda_path(comanda), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
