= simple_form_for @accidentes, :html=> { class: 'form-group' } , url:  accidentes_laborale_path, method: :put do |f|
    = f.input :id ,label: 'ID:'
    = f.input :id_empleado ,label: 'Num de empleado:'
    = f.input :f_accidente ,label: 'Fecha de accidente:'
    = f.button :submit, class: 'btn btn-primary' 
