= simple_form_for @accidentes, url:  accidentes_laborale_path, method: :put do |f|
    = f.input :id
    = f.input :id_empleado
    = f.input :f_accidente
    = f.button :submit, class: 'btn btn-primary'
