<h1>Accidentes laborales</h1>
%p= "Total: #{@accidentes.count} regitros"
%table.table.table-bordered.table-curved
  %thead.thead-dark
    %tr
      %td='ID'
      %td='Num de empleado'
      %td='Fecha accidente'
      - unless current_user.admin?
        %td='Acciones'

  %tbody
    - @accidentes.each do |accidente|
      %tr
        %td=accidente.id
        %td=accidente.id_empleado
        - if valid_date?(accidente.f_accidente)
          %td=accidente.f_accidente
        - else
          %td.text.danger=accidente.f_accidente
        - unless current_user.admin?
          %td
            = link_to edit_accidentes_laborale_path(accidente) do
              = fa_icon 'pencil'
            = link_to accidentes_laborale_path(accidente), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'


