= simple_form_for @ingrediente_por_platillo, url: ingredientes_por_platillo_path, method: :put do |f|
    = f.input :id, readonly: true, label: 'ID:'
    = f.input :id_platillo, readonly: true, label: 'Num de platillo:'
    = f.input :id_producto, readonly: true, label: 'Num de producto:'
    = f.input :id_tipo_medida, readonly: true, label: 'Num tipo de medida:'
    - if valid_number?(@ingrediente_por_platillo.cantidad)
        = f.input :cantidad, readonly: true, label: 'Cantidad:'
    - else
        = f.input :cantidad, disabled: false, label: 'Cantidad:'
    = f.submit 'Actualizar',  class: 'btn btn-primary'
