= simple_form_for @ingrediente_por_platillo, url: ingredientes_por_platillo_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_platillo , label: 'Num de platillo:'
    = f.input :id_producto , label: 'Num de producto:'
    = f.input :id_tipo_medida , label: 'Num tipo de medida:'
    = f.input :cantidad , label: 'Cantidad:'
    = f.button :submit, class: 'btn btn-primary'
