= simple_form_for @reservacion, url:  reservaciones_en_hotel_path, method: :put do |f|
 = f.input :id, readonly: true  , label: 'ID:'
 - if valid_date?(@reservacion.f_entrada)
  = f.input :f_entrada, readonly: true , label: 'Fecha de entrada:'
 - else 
  = f.input :f_entrada, disabled: false , label: 'Fecha de entrada:'
 - if valid_date?(@reservacion.f_salida)
  = f.input :f_salida, readonly: true , label: 'Fecha de salida:'
 - else 
  = f.input :f_salida, disabled: false  , label: 'Fecha de salida:'
 - if valid_date?(@reservacion.f_reservacion)
  = f.input :f_reservacion, readonly: true , label: 'Fecha de reservación:'
 - else 
  = f.input :f_reservacion, disabled: false , label: 'Fecha de reservación:'
 - if valid_status?(@reservacion.estado)
  = f.input :estado, readonly: true  , label: 'Estado:'
 - else 
  = f.input :estado, disabled: false , label: 'Estado:'
 = f.input :id_cliente, readonly: true , label: 'Num de cliente:'
 = f.input :id_empleado, readonly: true , label: 'Num de empleado:'
 = f.button :submit, class: 'btn btn-primary'
