%table
  %thead
    %tr
      %td='id'
      %td='FechaIn'
      %td='FechaOut'
      %td= 'Fecha Reservacion'
      %td= 'Estado'
      %td= 'idCliente'
      %td= 'idEmpleado'
      %td='Acciones'
  %tbody
    - @reservaciones.each do |reservacion|
      %tr
        %td=reservacion.id
        %td=reservacion.FechaIn
        %td=reservacion.FechaOut
        %td=reservacion.FechaReserv
        %td=reservacion.Estado
        %td=reservacion.idCliente
        %td=reservacion.idEmpleado
        %td
          = link_to edit_reservaciones_en_hotel_path(reservacion) do
            = fa_icon 'pencil'
          = link_to reservaciones_en_hotel_path(reservacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
    %tr='Total'
    %tr=@reservaciones.count
