<h1>Reservaciones en hotel</h1>
%p= "Total: #{@reservaciones.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Fecha de entrada'
      %td='Fecha de salida'
      %td='Fecha de reservación'
      %td='Estado'
      %td='Num de Cliente'
      %td='Num de Empleado'
      %td='Acciones'
  %tbody
    - @reservaciones.each do |reservacion|
      %tr
        %td=reservacion.id
        - if valid_date?(reservacion.f_entrada.to_s)
          %td=reservacion.f_entrada
        - else
          %td.text.danger=reservacion.f_entrada
        - if valid_date?(reservacion.f_salida)
          %td=reservacion.f_salida
        - else
          %td.text.danger=reservacion.f_salida
        - if valid_date?(reservacion.f_reservacion)
          %td=reservacion.f_reservacion
        - else
          %td.text.danger=reservacion.f_reservacion
        - if valid_status?(reservacion.estado)
          %td=reservacion.estado
        - else
          %td.text.danger=reservacion.estado
        %td=reservacion.id_cliente
        %td=reservacion.id_empleado
        %td
          = link_to edit_reservaciones_en_hotel_path(reservacion) do
            = fa_icon 'pencil'
          = link_to reservaciones_en_hotel_path(reservacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
