= simple_form_for @habitaciones, url: habitacione_path, method: :put do |f|
 = f.input :id, readonly: true
 = f.input :tipo_habitacion, readonly: true
 - if valid_activah?(@habitaciones.estado)
  = f.input :estado, readonly: true 
 - else 
  = f.input :estado, disabled: false
 = f.button :submit, class: 'btn btn-primary'
