<h1>Habitaciones</h1>
%p= "Total: #{@habitaciones.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_habitaciones_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Tipo de habitación'
      %td='Estado'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @habitaciones.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.tipo_habitacion
        - if valid_activah?(habitacion.estado)
          %td=habitacion.estado
        - else
          %td.text.danger=habitacion.estado
        - unless current_user.admin?
          %td
            = link_to edit_habitacione_path(habitacion) do
              = fa_icon 'pencil'
            = link_to habitacione_path(habitacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
