= simple_form_for @platillo_por_comanda, url: platillos_por_comanda_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_comanda , label: 'Num de comanda:'
    = f.input :id_platillo , label: 'Num de platillo:'
    = f.input :cantidad , label: 'Cantidad:'
    = f.button :submit, class: 'btn btn-primary'
