<h1>Platillos por comanda</h1>
%p= "Total: #{@platillos_por_comanda.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de comanda'
      %td='Num de platillo'
      %td='Cantidad'
      - unless current_user.admin?
        %td='Acciones'

  %tbody
    - @platillos_por_comanda.each do |platillo_por_comanda|
      %tr
        %td=platillo_por_comanda.id
        %td=platillo_por_comanda.id_comanda
        %td=platillo_por_comanda.id_platillo
        -if valid_cantidad?(platillo_por_comanda.cantidad)
          %td=platillo_por_comanda.cantidad
        -else
          %td.text.danger=platillo_por_comanda.cantidad
        - unless current_user.admin?
          %td
            = link_to edit_platillos_por_comanda_path(platillo_por_comanda) do
              = fa_icon 'pencil'
            = link_to platillos_por_comanda_path(platillo_por_comanda), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
