<h1>Capacitaciones por empleado</h1>
%p= "Total: #{@capacitaciones.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de empleado'
      %td='Num de capacitacion'
      %td='Fecha de inicio'
      %td='Fecha de fin'
      %td='Estado'
      - unless current_user.admin?
        %td='Acciones'

  %tbody
    - @capacitaciones.each do |capacitacion|
      %tr
        %td=capacitacion.id
        %td=capacitacion.id_empleado
        %td=capacitacion.id_programa
        -if valid_date?(capacitacion.f_inicio)
          %td=capacitacion.f_inicio
        -else
          %td.text.danger=capacitacion.f_inicio
        -if valid_date?(capacitacion.f_fin)
          %td=capacitacion.f_fin
        -else
          %td.text.danger=capacitacion.f_fin
        -if valid_estado_capacitacion?(capacitacion.estado)
          %td=capacitacion.estado
        - else
          %td.text.danger=capacitacion.estado
        - unless current_user.admin?
          %td
            = link_to edit_capacitaciones_por_empleado_path(capacitacion) do
              = fa_icon 'pencil'
            = link_to capacitaciones_por_empleado_path(capacitacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'


