= simple_form_for @factura_restaurante, url: facturas_restaurante_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_sistema , label: 'Num de sistema:'
    = f.input :id_cliente , label: 'Num de cliente:'
    = f.input :fecha_emision , label: 'Fecha de emisión:'
    = f.input :tipo_pago , label: 'Tipo de pago:'
    = f.input :sistema , label: 'Sistema:'
    = f.button :submit, class: 'btn btn-primary'
