= simple_form_for @factura_restaurante, url: facturas_restaurante_path, method: :put do |f|
    = f.input :id, readonly: true, label: 'ID:'
    = f.input :id_sistema, readonly: true, label: 'Num de sistema:'
    = f.input :id_cliente, readonly: true, label: 'Num de cliente:'
    - if valid_date?(@factura_restaurante.fecha_emision)
        = f.input :fecha_emision, readonly: true, label: 'Fecha de emisión:'
    - else
        = f.input :fecha_emision, disabled: false, label: 'Fecha de emisión:'
    = f.input :tipo_pago, readonly: true, label: 'Tipo de pago:'
    = f.input :sistema, readonly: true , label: 'Sistema:'
    = f.button :submit, class: 'btn btn-primary'
