<h1>Facturas restaurante</h1>
%p= "Total: #{@facturas.count} regitros"
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de sistema'
      %td='Num de cliente'
      %td='Fecha de emisión'
      %td='Tipo de pago'
      %td='Sistema'
      %td='Acciones'
  %tbody
    - @facturas.each do |factura|
      %tr
        %td=factura.id
        %td=factura.id_sistema
        %td=factura.id_cliente
        -if valid_date?(factura.fecha_emision)
          %td=factura.fecha_emision
        -else
          %td.text.danger=factura.fecha_emision
        %td=factura.tipo_pago
        %td=factura.sistema
        %td
          = link_to edit_facturas_restaurante_path(factura) do
            = fa_icon 'pencil'
          = link_to facturas_restaurante_path(factura), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
    %tr='Total: '
    %tr=@facturas.count


