= simple_form_for @empleado, url: empleado_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :nombre , label: 'Nombre:'
    = f.input :f_nacimiento , label: 'Fecha de nacimiento:'
    = f.input :c_electronico , label: 'Correo electronico:'
    = f.input :n_telefono , label: 'Num de telefono:'
    = f.input :genero , label: 'Genero:'
    = f.input :rfc , label: 'RFC:'
    = f.input :baja , label: 'Baja:'
    = f.input :sistema , label: 'Sistema:'
    = f.input :f_entrada , label: 'Fecha de entrada:'
    = f.button :submit, class: 'btn btn-primary'
