<h1>Empleados</h1>
%p= "Total: #{@empleados.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Nombre/Correo electronico'
      %td='Fecha nacimiento/ Entrada'
      %td='# telefono'
      %td='Género'
      %td='RFC'
      %td='Baja'
      %td='Sistema'
      %td='Acciones'
  %tbody
    - @empleados.each do |empleado|
      %tr
        %td=empleado.id
        %td
          - if valid_name?(empleado.nombre)
            =empleado.nombre
          - else
            .text.text-danger=empleado.nombre
          - if valid_email?(empleado.c_electronico)
            =empleado.c_electronico
          -else
            .text.text-danger=empleado.c_electronico
        %td
          - if valid_date?(empleado.f_nacimiento)
            =empleado.f_nacimiento
          - else
            .text.text-danger=empleado.f_nacimiento
          -if valid_date?(empleado.f_entrada)
            =empleado.f_entrada
          - else
            .text.text-danger=empleado.f_entrada
        - if valid_telefono?(empleado.n_telefono)
          %td=empleado.n_telefono
        - else
          %td.text.danger=empleado.n_telefono
        - if valid_genero?(empleado.genero)
          %td=empleado.genero
        - else
          %td.text.danger=empleado.genero
        -if valid_rfc?(empleado.rfc)
          %td=empleado.rfc
        -else
          %td.text.danger=empleado.rfc
        %td=empleado.baja
        %td=empleado.sistema
        %td
          = link_to edit_empleado_path(empleado) do
            = fa_icon 'pencil'
          = link_to empleado_path(empleado), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
