= simple_form_for @mantenimiento_por_equipo, url: ordenes_de_mantenimiento_path, method: :put do |f|
    = f.input :id
    = f.input :id_sistema
    = f.input :sistema
    = f.input :f_inicio
    = f.input :f_termino
    = f.input :id_equipo
    = f.input :tipo_mantenimiento
    = f.input :id_empleado
    = f.button :submit, class: 'btn btn-primary'
