= simple_form_for @mantenimiento_por_equipo, url: ordenes_de_mantenimiento_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_sistema , label: 'Num de sistema:'
    = f.input :sistema , label: 'Sistema:'
    = f.input :f_inicio , label: 'Fecha de inicio:'
    = f.input :f_termino , label: 'Fecha de termino:'
    = f.input :id_equipo , label: 'Num de equipo:'
    = f.input :tipo_mantenimiento , label: 'Tipo de mantenimiento:'
    = f.input :id_empleado , label: 'Num de empleado:'
    = f.submit 'Actualizar',  class: 'btn btn-primary'
