= simple_form_for @equipo_por_recibo, url: equipos_por_recibo_path, method: :put do |f|
    = f.input :id, readonly: true, label: 'ID:'
    = f.input :id_sistema, readonly: true, label: 'Num de sistema:'
    = f.input :sistema, readonly: true, label: 'Sistema:'
    = f.input :id_equipo, readonly: true, label: 'Num de equipo:'
    = f.input :n_serie, readonly: true , label: 'Num de serie:'
    = f.input :id_recibo_compra, readonly: true, label: 'Num de recibo compra:'
    - if valid_date?(@equipo_por_recibo.f_finalizacion_garantia)
        = f.input :f_finalizacion_garantia, readonly: true , label: 'Fecha finalización garantia:'
    - else
        = f.input :f_finalizacion_garantia, disabled: false, label: 'Fecha finalización garantia:'
    = f.submit 'Actualizar', class: 'button'
