= simple_form_for @reservaciones, url: reservacione_path, method: :put do |f|
    = f.input :id , label: 'Reservaciones:'
    = f.input :idReservacion , label: 'Num de reservación:'
    = f.input :FechaIn , label: 'Fecha de inicio:'
    = f.input :FechaOut , label: 'Fecha de termino:'
    = f.input :FechaReserv , label: 'Fecha de reservación:'
    = f.input :Estado , label: 'Estado:'
    = f.input :idCliente , label: 'Num de cliente:'
    = f.input :idEmpleado , label: 'Num de empleado:'
    = f.submit 'Actualizar',  class: 'btn btn-primary'
