%table
  %thead
    %tr
      %td='id'
      %td='idReservacion'
      %td='FechaIn'
      %td='FechaOut'
      %td= 'Fecha Reservacion'
      %td= 'Estado'
      %td= 'idCliente'
      %td= 'idEmpleado'
      %td='Acciones'
  %tbody
    - @reservaciones.each do |r|
      %tr
        %td=r.id
        %td=r.idReservacion
        %td=r.FechaIn
        %td=r.FechaOut
        %td=r.FechaReserv
        %td=r.Estado
        %td=r.idCliente
        %td=r.idEmpleado
        %td
          = link_to edit_reservacione_path(r) do
            = fa_icon 'pencil'
          = link_to reservacione_path(r), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
    %tr='Total'
    %tr=@reservaciones.count