= simple_form_for @areas, url:  area_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :nombre , label: 'Nombre:'
    = f.input :clave , label: 'Clave:'
    = f.button :submit, class: 'btn btn-primary'