= simple_form_for @areas, url:  area_path, method: :put do |f|
    = f.input :id, readonly: true , label: 'ID:'
    - if valid_nombrecosas?(@areas.nombre)
        = f.input :nombre, readonly: true , label: 'Nombre:'
    - else
        = f.input :nombre, disabled: false, label: 'Nombre:'
    = f.input :clave, as: :string, readonly: true, label: 'Clave:'
    = f.submit 'Actualizar', class: 'button'
