.formC
  .devise-bootstrap-form
    .devise-bootstrap-form-row
      .devise-bootstrap-form-col
        %h2.text-center Iniciar Sesión
        = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo eléctronico"
          = f.password_field :password, autocomplete: "current-password", placeholder: 'Contraseña'
          - if devise_mapping.rememberable?
            = f.form_group do
              = f.check_box :remember_me
          = f.form_group do
            = f.submit "Iniciar sesión", class: "btn btn-primary btn-block btn-lg"
  .text-center
    = render "devise/shared/links"
