<h1>Materiales por pedido</h1>
%p= "Total: #{@materiales_por_pedido.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_materiales_por_pedido_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Num sistema'
      %td='Sistema'
      %td='Num de material'
      %td='Num de pedido'
      %td='Cantidad'
      %td='Acciones'

  %tbody
    - @materiales_por_pedido.each do |material_por_pedido|
      %tr
        %td=material_por_pedido.id
        %td=material_por_pedido.id_sistema
        %td=material_por_pedido.sistema
        %td=material_por_pedido.id_material
        %td=material_por_pedido.id_pedido
        -if valid_cantidad?(material_por_pedido.cantidad)
          %td=material_por_pedido.cantidad
        -else
          %td.text.danger=material_por_pedido.cantidad
        %td
          = link_to edit_materiales_por_pedido_path(material_por_pedido) do
            = fa_icon 'pencil'
          = link_to materiales_por_pedido_path(material_por_pedido), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
