= simple_form_for @serviciolh, url:  serviciol_habitacione_path, method: :put do |f|
 = f.input :id, readonly: true
 - if valid_date?(@serviciolh.fecha)
  = f.input :fecha, readonly: true 
 - else 
  = f.input :fecha, disabled: false
 = f.input :id_servicio_limpieza, readonly: true
 = f.input :id_habitacion, readonly: true
 = f.input :id_empleado, readonly: true
 = f.button :submit, class: 'btn btn-primary'
