<h1>Rentas</h1>
%p= "Total: #{@rentas.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_rentas_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Num de cliente'
      %td='Num de reservación'
      %td='Num de empleado'
      %td='Fecha de entrada'
      %td='Fecha de salida'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @rentas.each do |renta|
      %tr
        %td=renta.id
        %td=renta.id_cliente
        %td=renta.id_reservacion
        %td=renta.id_empleado
        - if valid_date?(renta.f_entrada)
          %td=renta.f_entrada
        - else
          %td.text.danger=renta.f_entrada
        - if valid_date?(renta.f_salida)
          %td=renta.f_salida
        - else
          %td.text.danger=renta.f_salida
        - unless current_user.admin?
          %td
            = link_to edit_renta_path(renta) do
              = fa_icon 'pencil'
            = link_to renta_path(renta), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'
