= simple_form_for @equipo, url: equipo_path, method: :put do |f|
    = f.input :id
    = f.input :id_sistema
    = f.input :sistema
    = f.input :nombre
    = f.input :modelo
    = f.button :submit, class: 'btn btn-primary'
