= simple_form_for @material_por_recibo, url: materiales_por_recibo_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_sistema , label: 'Num de sistema:'
    = f.input :sistema , label: 'Sistema:'
    = f.input :id_material , label: 'Num de material:'
    = f.input :id_recibo_compra , label: 'Num recibo de compra:'
    = f.input :cantidad , label: 'Cantidad:'
    = f.input :tipo_paquete , label: 'Tipo de paquete:'
    = f.input :f_caducidad , label: 'Fecha de caducidad:'
    = f.button :submit, class: 'btn btn-primary'
