= simple_form_for @material_por_recibo, url: materiales_por_recibo_path, method: :put do |f|
    = f.input :id
    = f.input :id_sistema
    = f.input :sistema
    = f.input :id_material
    = f.input :id_recibo_compra
    = f.input :cantidad
    = f.input :tipo_paquete
    = f.input :f_caducidad
    = f.button :submit, class: 'btn btn-primary'
