<h1>Materiales por recibo</h1>
%p= "Total: #{@materiales_por_recibo.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', delete_materiales_por_recibo_path, class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Num de recibo'
      %td='Num de material'
      %td='Num sistema'
      %td='Sistema'
      %td='Cantidad'
      %td='Tipo de paquete'
      %td='Fecha caducidad'
      %td='Acciones'

  %tbody
    - @materiales_por_recibo.each do |material_por_recibo|
      %tr
        %td=material_por_recibo.id
        %td=material_por_recibo.id_recibo_compra
        %td=material_por_recibo.id_material
        %td=material_por_recibo.id_sistema
        %td=material_por_recibo.sistema
        -if valid_cantidad?(material_por_recibo.cantidad)
          %td=material_por_recibo.cantidad
        -else
          %td.text.danger=material_por_recibo.cantidad
        %td=material_por_recibo.tipo_paquete
        -if valid_date?(material_por_recibo.f_caducidad)
          %td=material_por_recibo.f_caducidad
        -else
          %td.text.danger=material_por_recibo.f_caducidad
        %td
          = link_to edit_materiales_por_recibo_path(material_por_recibo) do
            = fa_icon 'pencil'
          = link_to materiales_por_recibo_path(material_por_recibo), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
