<h1>Aplicaciones a vacantes</h1>
%p= "Total: #{@aplicaciones.count} regitros"
- unless current_user.admin?
  = link_to 'Eliminar todos', new_deletter_path(model: 'AplicacionAVacante'), class: 'btn btn-danger', data: { confirm: '¿Estás seguro?'}
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Postulante'
      %td='Vacante'
      %td='Empleado'
      %td='Fecha aplicacion'
      - unless current_user.admin?
        %td='Acciones'
  %tbody
    - @aplicaciones.each do |aplicacion|
      %tr
        %td=aplicacion.id
        %td=aplicacion.id_postulante
        %td=aplicacion.id_vacante
        %td=aplicacion.id_empleado
        - if valid_date?(aplicacion.f_aplicacion)
          %td=aplicacion.f_aplicacion
        - else
          %td.text.danger=aplicacion.f_aplicacion
        - unless current_user.admin?
          %td
            = link_to edit_aplicaciones_a_vacante_path(aplicacion) do
              = fa_icon 'pencil'
            = link_to aplicaciones_a_vacante_path(aplicacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
              = fa_icon 'trash'

