<h1>Detalle factura restaurante</h1>
%p= "Total: #{@detalles_de_factura_restaurante.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de factura'
      %td='Num de comanda'
      %td='Fecha de emisión'
      %td='Total: '
      %td='Acciones'

  %tbody
    - @detalles_de_factura_restaurante.each do |detalle_factura|
      %tr
        %td=detalle_factura.id
        %td=detalle_factura.id_factura
        %td=detalle_factura.id_comanda
        -if valid_date?(detalle_factura.fecha_emision)
          %td=detalle_factura.fecha_emision
        -else
          %td.text.danger=detalle_factura.fecha_emision
        -if valid_price?(detalle_factura.total)
          %td=detalle_factura.total
        -else
          %td.text.danger=detalle_factura.total
        %td
          = link_to edit_detalles_de_factura_restaurante_path(detalle_factura) do
            = fa_icon 'pencil'
          = link_to detalles_de_factura_restaurante_path(detalle_factura), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
