= simple_form_for @baja, url:  baja_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_articulo , label: 'Num de articulo:'
    = f.input :fecha , label: 'Fecha:'
    = f.input :tipo , label: 'Tipo:'
    = f.input :motivo , label: 'Motivo:'
    = f.button :submit, class: 'btn btn-primary'
