<h1>Bajas de materiales</h1>
%p= "Total: #{@bajas.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de articulo'
      %td='Tipo'
      %td='Fecha'
      %td='Motivo'
      %td='Acciones'

  %tbody
    - @bajas.each do |baja|
      %tr
        %td=baja.id
        %td=baja.id_articulo
        - if valid_word?(baja.tipo)
          %td=baja.tipo
        - else
          %td.text.danger=baja.tipo
        -if valid_date?(baja.fecha)
          %td=baja.fecha
        -else
          %td.text.danger=baja.fecha
        -if valid_words?(baja.motivo)
          %td=baja.motivo
        -else
          %td.text.danger=baja.motivo
        %td
          = link_to edit_baja_path(baja) do
            = fa_icon 'pencil'
          = link_to baja_path(baja), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'



