= simple_form_for @postulantes, url: postulante_path, method: :put do |f|
    = f.input :id, readonly: true, label: 'ID:'
    - if valid_name?(@postulantes.nombre)
        = f.input :nombre, readonly: true, label: 'Nombre:'
    - else
        = f.input :nombre, disabled: false, label: 'Nombre:'
    - if valid_estadopostulante?(@postulantes.estado)
        = f.input :estado, readonly: true, label: 'Estado:'
    - else
        = f.input :estado, disabled: false, label: 'Estado:'
    = f.submit 'Actualizar',  class: 'btn btn-primary'
