= simple_form_for @postulantes, url: postulante_path, method: :put do |f|
    = f.input :id, readonly: true 
    - if valid_name?(@postulantes.nombre)
        = f.input :nombre, readonly: true 
    - else  
        = f.input :nombre, disabled: false 
    - if valid_estadopostulante?(@postulantes.estado)
        = f.input :estado, readonly: true 
    - else  
        = f.input :estado, disabled: false
    = f.button :submit, class: 'btn btn-primary'