<h1>Postulantes</h1>
%p= "Total: #{@postulantes.count} regitros"
%table.table.table-bordered.table-curved
  %tr
    %td='ID'
    %td='Nombre'
    %td='Estado'
    %td='Acciones'

  %tbody
    - @postulantes.each do |postulante|
      %tr
        %td=postulante.id
        - if valid_name?(postulante.nombre)
          %td=postulante.nombre
        -else
          %td.text.danger=postulante.nombre
        -if valid_estadopostulante?(postulante.estado)
          %td=postulante.estado
        -else
          %td.text.danger=postulante.estado
        %td
          = link_to edit_postulante_path(postulante) do
            = fa_icon 'pencil'
          = link_to postulante_path(postulante), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'



