= simple_form_for @tipo_medida, url: tipos_medida_path, method: :put do |f|
  = f.input :id, readonly: true
  - if valid_nombrecosas?(@tipo_medida.nombre)
    = f.input :nombre, readonly: true 
  - else 
    = f.input :nombre, disabled: false
  = f.button :submit, class: 'btn btn-primary'

