= simple_form_for @reporte, url:  reporte_perdido_robo_path, method: :put do |f|
    = f.input :id
    = f.input :cantidad
    = f.input :fecha
    = f.input :id_servicio_limpieza
    = f.input :id_habitacion
    = f.input :id_empleado
    = f.input :id_material
    = f.button :submit, class: 'btn btn-primary'
