= simple_form_for @reporte, url:  reporte_perdido_robo_path, method: :put do |f|
 = f.input :id, readonly: true , label: 'ID:'
 - if valid_cantidad?(@reporte.cantidad)
  = f.input :cantidad, readonly: true , label: 'Cantidad:'
 - else
  = f.input :cantidad, disabled: false , label: 'Cantidad:'
 - if valid_date?(@reporte.fecha)
  = f.input :fecha, readonly: true , label: 'Fecha:'
 - else
  = f.input :fecha, disabled: false , label: 'Fecha:'

 = f.input :id_servicio_limpieza, readonly: true , label: 'Num servicio de limpieza:'
 = f.input :id_habitacion, readonly: true , label: 'Num de habitación:'
 = f.input :id_empleado, readonly: true , label: 'Num de empleado:'
 = f.input :id_material, readonly: true , label: 'Num de material:'
 = f.submit 'Actualizar',  class: 'btn btn-primary'
