<h1>Bajas de empleados</h1>
%p= "Total: #{@bajas_por_empleado.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de Empleado'
      %td='Motivo'
      %td='Fecha'
      %td='Acciones'

  %tbody
    - @bajas_por_empleado.each do |baja_empleado|
      %tr
        %td=baja_empleado.id
        %td=baja_empleado.id_empleado
        %td=baja_empleado.motivo
        - if valid_date?(baja_empleado.fecha)
          %td=baja_empleado.fecha
        - else
          %td.text.danger=baja_empleado.fecha
        %td
          = link_to edit_bajas_empleado_path(baja_empleado) do
            = fa_icon 'pencil'
          = link_to bajas_empleado_path(baja_empleado), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

