= simple_form_for @equipo_por_pedido, url: equipos_por_pedido_path, method: :put do |f|
    = f.input :id , label: 'ID:'
    = f.input :id_pedido , label: 'Num de pedido:'
    = f.input :id_equipo , label: 'Num de equipo:'
    = f.submit 'Actualizar', class: 'button'
