= simple_form_for @equipo_por_pedido, url: equipos_por_pedido_path, method: :put do |f|
    = f.input :id
    = f.input :id_pedido
    = f.input :id_equipo
    = f.button :submit, class: 'btn btn-primary'
